markdown: kramdown

title: "Regularly Irrelevant"
subtitle: "Trying to communicate to a computer"
description: "Amir's personal blog"
bio: "Programmer who sometimes photographs birds."

author:
  github: moo64c
  linkedin: arbelamir/
  email: moo64c+blog@gmail.com
  name: Amir Arbel
  avatar: "/assets/images/1516846339809.jpeg"
  # links:
  #   - label: "Email"
  #     icon: "fas fa-fw fa-envelope-square"
  #     url: "mailto:your.name@email.com"

url: "https://moo64c.github.io/about"

permalink: "articles/:year/:month/:day/:title/"
paginate: 8
paginate_path: /page:num/
timezone: Asia/Jerusalem

collections:
  docs:
    output: true

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from

remote_theme             : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "neon"

words_per_minute         : 200
atom_feed:
  path                   : "/atom.xml" # blank (default) uses feed.xml
  hide                   : # true, false (default)
search                   : true # false (default)

# Social Sharing
twitter:
  username               : moo64c

analytics:
  provider               : "google-gtag" # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id          : "G-PV8K0S2JHK"
    anonymize_ip         : false


# Site Footer
# footer:
#   links:
#     - label: "Twitter"
#       icon: "fab fa-fw fa-twitter-square"
#       url: "https://twitter.com/bbatsov"
#     - label: "Facebook"
#       icon: "fab fa-fw fa-facebook-square"
#       # url:
#     - label: "GitHub"
#       icon: "fab fa-fw fa-github"
#       url: "https://github.com/bbatsov"
#     - label: "LinkedIn"
#       icon: "fab fa-fw fa-linkedin"
#       url: "https://www.linkedin.com/in/bbatsov/"
#     - label: "GitLab"
#       icon: "fab fa-fw fa-gitlab"
#       # url:
#     - label: "Bitbucket"
#       icon: "fab fa-fw fa-bitbucket"
#       # url:
#     - label: "Instagram"
#       icon: "fab fa-fw fa-instagram"
#       # url:


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development

# jekyll-feed config
# feed:
#   path: atom.xml
#   tags:
#     path: "/feeds/"
#     only:
#       - Emacs
#       - Ruby
#       - Clojure
#       - Meta

repository: "moo64c/moo64c.github.io"
comments:
  provider: "giscus"
  giscus:
    repo:                "moo64c/moo64c.github.io"
    repo-id:             "MDEwOlJlcG9zaXRvcnkxNDA1OTkwMTE="
    category:            "Comments"
    category-id:         "DIC_kwDOCGFe484CTGTG"
    mapping:             "pathname"
    reactions-enabled:    "1"
    theme:               "dark_high_contrast"
    crossorigin:         "anonymous"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      excerpt_separator: <!--more-->
      show_date: true
      toc: true
      toc_label: "Quick Navigation"
      toc_icon: "map"
      toc_sticky: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
