markdown: kramdown
permalink: /posts/:year-:month-:day-:title.html

title: "Regularly Irrelevant"
author:
  github: moo64c
  email: moo64c@gmail.com
  name: Amir Arbel

url: "https://moo64c.github.io"

paginate: 8
paginate_path: "posts/page:num"
timezone: Asia/Jerusalem

collections:
  docs:
    output: true

plugins:
 - jekyll-paginate

theme: jekyll-theme-minimal