<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ "/assets/lib/bootstrap.css" | relative_url }}">
			<link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:{{ site.author.email }}">email</a></li>
	        		<li><a href="{{ site.url }}">{{ site.title }}</a></li>
				</ul>
			</footer>
		</body>
	</html>
