<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ page.title }} - {{ site.name }} - {{ site.author.name }}"/>
    {% if page.tags.size > 0%}
      <meta name="keywords" content="{% for tag in page.tags %}{% if tag != "" %}{{ tag }}{% if forloop.index != page.tags.size %},{% endif %}{% endif %}{% endfor %}"/>
    {% endif %}



    <title>{{ page.title }} - {{ site.author.name }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/blog.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
    <script src="/js/jquery-1.11.0.js"> </script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="/">
            {{ site.title }}
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          {% include navigation.html %}
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
          <hr>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h4>
              Categories
            </h4>
            <div class="row">
              {% include categories.html %}
            </div>
          </div>
          <div class="well">
            <h4>
              Recent
            </h4>
            <div class="row">
              {% include recent_posts.html %}
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <a href="{{about.html | relative }}"> About / Credits </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
