---
layout: default
---
<div class="row">
	<h2>{{ page.title }}</h2>
		<a href="{{site.url}}{{page.url}}" title="{{page.name}}">permalink</a><br>
		{% if page.tags.size > 0%}
			<b>tags: </b>
			{% for tag in page.tags %}
				{% if tag != "" %}
					<a href="/tags.html#{{ tag }}"><i>{{ tag }}</i></a>
					{% if forloop.index != page.tags.size %},
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	<div class="post-date">
		<span class="glyphicon glyphicon-time"></span>
		{{ page.date | date:"%Y-%m-%d" }}
	</div>
	<hr/>
	<br/><br/>
		{{ content }}
	<br/><br/>
</div>



<!-- No commeting currently.
<div class="media">
{% include comment.html %}
</div> -->
